<nav style="background-color: grey;">
    <div>
        <a href="/">
            <h1>Tech Blog Site</h1>
        </a>
    </div>
    <ul>
        <li><a href="\">Home</a></li>
        <li><a href="\about">About</a></li>
        <li><a href="\create">New Blog</a></li>
        <li><a href="\user">User</a></li>
    </ul>
</nav>