<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <div>
        <h3>Welcome to the about page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda praesentium, non repellendus consequuntur commodi libero itaque. Modi atque reiciendis quasi dolore. Nihil molestias cumque corrupti reiciendis magnam vero in voluptas.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et autem, dolore hic neque ratione nobis ipsam earum delectus aspernatur praesentium adipisci officia quod, quos expedita fugit? Sapiente pariatur voluptas laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque delectus enim iure fugit. Unde, porro quidem magni molestias neque eum sapiente commodi nostrum molestiae eveniet natus nisi atque sequi.</p >
    </div>
</body>
</html>